code/1.1.NERC-ML/preprocessed/train.feat
code/1.2.NERC-NN/preprocessed/devel.pck
code/1.2.NERC-NN/preprocessed/train.pck
code/1.1.NERC-MLZIP.zip
code/1.1.NERC-ML/preprocessed/temp_train_CRF.feat
code/1.1.NERC-ML/preprocessed/temp_train_SVM.feat
code/1.1.NERC-ML/preprocessed/temp_train_MEM.feat
code/1.1.NERC-ML/preprocessed/temp_train_PassiveAggressive.feat
code/1.1.NERC-ML/preprocessed/temp_train_LinearSVM.feat
code/1.1.NERC-ML/preprocessed/temp_train_SGD.feat
code/1.2.NERC-NN/bin/PubMed-and-PMC-w2v.bin
code/1.3.NERC-LLM/models/
code/1.3.NERC-LLM/bin/models_already_processed/
.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
**/codemaps.idx
*network.nn